<html ng-app="app">
  <head>
  <meta charset="utf-8">
    <title>Car Search</title>
  </head>
  <body>
  <div ng-controller="controller">
  <p>Enter your car's license plate number:</p>
  <input ng-model="num">
  <button ng-click="search(num)">Search</button>
  <br>
  <p ng-bind="message"></p>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

  <script>
    var appModule = angular.module("app", []);

    appModule.controller("controller", function($scope, $http) {
    var someText = {};
    $scope.search = function(num) {
      console.log(num);
      $http.get('/search?num=' + num).
        success(function(data) {
          console.log(data);
          $scope.message = 'Your car is on the ' + data.floor_id;
        });
      };
    });
  </script>
  </div>
</body>
</html>
