<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Parking Location</title>
    <link rel="stylesheet" type="text/css" href="default.css">
  </head>
  <body>
  <h1>Parking Location</h1>
  <div ng-controller="controller">
  <p>Enter your car's license plate number:</p>
  <input ng-model="num">
  <button ng-click="search(num)">Search</button>
  <br>
  <p ng-bind="message"></p>
  <p ng-bind="timestamp"></p>
  <p ng-bind="confidence"></p>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <!-- <script src="angular.min.js"></script> -->

  <script>
    var appModule = angular.module("app", []);
    appModule.controller("controller", ['$scope', '$http', '$location', function($scope, $http, $location) {
    var someText = {};
    $scope.search = function(num) {
      console.log(num);
      $http.get($location.absUrl() + 'search?num=' + num).
        success(function(record) {
          console.log(record);
          var message = 'Your car is not found';
          var confidence;
          var timestamp;
          if (record.confidence != 0) {
            message = 'Your car is on the ' + record.site_id + ',';
            timestamp = 'parked at ' + new Date(Number(record.timestamp)).toTimeString() +'.';
            confidence = 'Confidence: ' + record.confidence + '%';
          };
          $scope.message = message;
          $scope.confidence = confidence;
          $scope.timestamp = timestamp;
        });
      };
    }]);
  </script>
  </div>
</body>
</html>
